.subreddit-container {
  background-color: var(--color-background);
  padding: var(--spacing-3);
  box-shadow: var(--box-shadow);
  width: 300px;
}

h2 {
  width: 180px;
  height: 35px;
  font-weight: bolder;
  margin-bottom: var(--spacing-2);
}

.subreddit-list {
  list-style: none;
  align-items: center;
}

.subreddit-list li {
  padding: var(--spacing-1);
}