.subreddits-container {
  background-color: var(--color-background);
  padding: var(--spacing-3);
  box-shadow: var(--box-shadow);
}

h2 {
  width: 180px;
  height: 35px;
  font-weight: bolder;
  margin-bottom: var(--spacing-2);
}

.subreddits-lists {
  list-style: none;
  align-items: center;
}
