.main-article {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
  width: 90%;
}

.main-articles .subreddit-category {
  text-decoration: none;
  padding: 15px;
  text-decoration-style: underline;
}

.main-articles .title {
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
}

.main-articles a {
  text-decoration: none;
  color: black;
}

.main-articles a:hover {
  text-decoration: underline;
}

.cards {
  margin-bottom: 35px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-background);
}

.cards .author {
  padding: 10px 0px 15px 15px;
  font-size: 0.9em;
  font-style: italic;
}

.media-container {
  display: flex;
  justify-content: center;
}

/* .media-content .media {
  margin: 0 auto;
  max-width: 100%;
  min-width: 50%;
} */

.post-info-bottom {
  display: flex;
}