.header {
  display: flex;
  background-color: var(--color-background);
  height: 80px;
  width: 100%;
  box-shadow: var(--box-shadow);
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-content: center;
  justify-content: center;
}

.searchInputs {
  display: flex;
  align-items: center;
}

.search input {
  height: 30px;
  width: 400px;
  border-radius: 13px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  padding: 8px;
  border: 0;
  background-color: var(--color-background-secondary);
}

.searchIcon {
  height: 30px;
  width: 30px;
  align-items: center;
  background-color: var(--color-background-secondary);
  border-radius: 13px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*
.searchInputs:hover, .searchInputs:focus {
  outline: none;
  border: 1px solid #cf4d02;
  transition: 0.2s; 
}
*/

input {
  outline: none;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchIcon svg {
  font-size: 25px;
  color: var(--color-text-body);
}

.logo {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  height: 95px;
}

.logo img {
  margin: auto;
  position: relative;
  padding: 20px 0px 20px 20px;
}

.logo p {
  text-decoration: none;
  color: var(--color-text-header);
  padding: 0px 0px 10px 0px;
  text-align: center;
  margin: auto 10px;
  font-weight: bold;
}

