.header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: whitesmoke;
  align-items: center;
  height: 85px;
}

.search {
  align-items: center;
  justify-content: center;
  
}

.searchInputs {
  display: flex;
  align-items: center;
}

.search input {
  height: 30px;
  width: 400px;
  border-radius: 13px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
  padding: 8px;
  border: 0;
  background-color: white;
}

.searchIcon {
  height: 30px;
  width: 30px;
  display: grid;
  align-items: center;
  background-color: white;
  border-radius: 13px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*
.searchInputs:hover, .searchInputs:focus {
  outline: none;
  border: 1px solid #cf4d02;
  transition: 0.2s; 
}
*/

input {
  outline: none;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchIcon svg {
  font-size: 25px;
  color: #555555;
}

.logo {
  display: flex;
  float: left;
  width: 330px;
  height: 95px;
}

.logo img {
  margin: auto;
  position: relative;
  padding: 20px 0px 20px 20px;
}

.logo p {
  text-decoration: none;
  color: #cf4d02;
  padding: 0px 0px 10px 0px;
  text-align: center;
  margin: auto 10px;
  font-weight: bold;
}

